<ul class="comment-list">
<%@child_comment.comments.each do |comment|%>
  <li class="comment-item">
    <p><%=comment.body%></p>
    <p class="comment_info">Posted: <%=comment.created_at%> By: <a href="/users/<%=comment.author.id%>/entries"><%=comment.author.username%></a>     <a href="/comments/entries/<%=@entry.id%>/comment/<%=comment.id%>/new"> reply</a>  </p>
    <%if !comment.comments.empty?%>
    <%@child_comment = comment%>
    <%= erb :'entries/_child'%>
    <%end%>
  </li>
<%end%>
</ul>
