<div class='post'>
	<h2><%=@entry.title%></h2>
	<p><%=@entry.body%></p>
	<p class="comment_info">Posted: <%=@entry.created_at%> By: <a href="/users/<%=@entry.author.id%>/entries"><%=@entry.author.username%></a></p>
</div>

<h3>Comments:</h3>



<ul>
	<%@comments.where(parent_comment_id:nil).each do |comment|%>
		<li>
			<p><%=comment.body%></p>
			<p class="comment_info">Posted: <%=comment.created_at%> By: <a href="/users/<%=comment.author.id%>/entries"><%=comment.author.username%></a>  </p>

			<%if !comment.comments.empty?%>
			<%@child_comment = comment%>
			<%= erb :'entries/_child'%>
			<%end%>
		</li>
	<%end%>
</ul>
