<div class='post'>
	<h2><%=@entry.title%></h2>
	<p><%=@entry.body%></p>
	<p>Posted: <%=@entry.created_at%> By: <a href="/users/<%=@entry.author.id%>/entries"><%=@entry.author.username%></a></p>
</div>

<h3>Comments:</h3>

<ul>
	<%@comments.where(parent_comment_id:nil).each do |comment|%>
		<li>
			<p><%=comment.body%></p>
			<p>Posted: <%=comment.created_at%> By: <a href="/users/<%=comment.author.id%>/entries"><%=comment.author.username%></a>  </p>
			<%def child_comment(comment)%>
				<%if !comment.comments.empty?%>
				<ul>
					<div class="child">
						<%comment.comments.each do |child_comment|%>
							<li>
								<p><%=child_comment.body%></p>
								<p>Posted: <%=child_comment.created_at%> By: <a href="/users/<%=child_comment.author.id%>/entries"><%=child_comment.author.username%></a></p>
								<%if !child_comment.comments.empty?%>
									<%=child_comment(child_comment)%>
								<%end%>
							</li>
						<%end%>
					</div>
				</ul>
				<%end%>
			<%end%>
			<%=child_comment(comment)%>
		</li>
	<%end%>
</ul>
