<div class='post'>
	<h2><%=@entry.title%></h2>
	<p><%=@entry.body%></p>
	<p class="comment_info">Posted: <%=@entry.created_at%> By: <a href="/users/<%=@entry.author.id%>/entries"><%=@entry.author.username%></a></p>
</div>

<h3>Comments:</h3>
<div id="entry-comments">

<%if current_user%>
<p><a href="/comments/entries/<%=@entry.id%>/comment/nil/new" class="reply-link">reply</a></p>
<%end%>


<ul class="comment-list">
	<%@comments.where(parent_comment_id:nil).each do |comment|%>
		<li class="comment-item">
			<%= erb :'comments/_show',locals:{comment:comment}%>
			<%if !comment.comments.empty?%>
			<%@child_comment = comment%>
			<%= erb :'entries/_child'%>
			<%end%>
		</li>
	<%end%>
</ul>
</div>
